.about{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    --brownY:#F39C12;
    --text:#ECF0F1;
}

.a-wrapper{
    width: 50vw;
    height: 300px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.a-text-wrapper{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.a-text-wrapper h1,.a-text-wrapper p{
    margin: 5px;
    font-weight: normal;
}

.a-text-h1{
    margin-bottom: 10px;
}

.a-text-wrapper p{
    margin: 5px;
    font-size: 16px;
    width: 370px;
}

.a-text{
    background-color: #1a2329;
    color: var(--text);
}

.registration{
    background-color: #454545;
    color: var(--text);
}

.btn{
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--brownY);
    color: black;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    background-color: var(--text);
}