@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

nav{
    width: 100vw;
    height: 70px;
    background-color: whitesmoke;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav h1{
    font-size: 20px;
    font-weight: normal;
}


.nav-items a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-left: 20px;
    font-size: 20px;
    transition: 0.4s;
}

.nav-items a:hover{
    color: gray;
}

.h-main{
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: whitesmoke;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 86%);
}

.h-box h1{
    font-size: 40px;
}

.h-box p{
    font-size: 20px;
}

.h-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-text{
    width: 400px ;
}

.h-text button{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #3498DB;
    color: white;
    font-weight: 400;
}

.h-box1{
    justify-self: flex-end;
}

.h-box2{
    justify-self: flex-start;
}

.h-box2 img{
    width: 700px;
}

.btn-box{
    display: flex;
    justify-content: space-around;
}

.s-main{
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:  whitesmoke;
    clip-path: polygon(0 8%, 100% 2%, 100% 100%, 0 90%);
}

.s-box{
    justify-self: start;
    
    min-height: 500px;
    font-weight: normal;
   
}

.s-box h1{
    font-weight: normal;
    
}

.s-text{
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}


.s-text h5,.s-text h4{
    margin: 0;
}

.s-text h4{
    margin-bottom: 4px;
}
.s-text p{
    margin: 0;
    color: gray;
}

.s-box img{
    width: 90%;
    
}



.s-box1{
    width: 50%;
    justify-self: flex-end;

}

.s-box2{
    width: 50%;
}


.skill-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.skill-wrapper h1{
    margin-left: 30px;
    font-weight: normal;   
}

.skill-wrapper p{
    margin-left: 30px;
    font-size: 20px;   
}

.skills-box-wrapper{
    display: flex;
    flex-wrap: wrap;
    
}




.container {
  width: 100%;
  min-height: 100vh;
  padding: 20px 30px 20px 30px;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
}

.box {
  position: relative;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box::before {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(#fff, #fff, #e3e3e3);
  filter: blur(1px);
  z-index: 1;
}

.box::after {
  
  position: absolute;
  top: 1px;
  right: -1px;
  width: 20px;
  height: 100%;
  background: #9d9d9d;
  filter: blur(1px);
  z-index: 1;
}

.box .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
}

.box .shadow::before {
  
  position: absolute;
  top: 0;
  left: calc(100% + 5px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0,0,0,0.075), transparent);
  transform: skewX(45deg);
}

.box .shadow::after {
  
  position: absolute;
  bottom: -200%;
  left: calc(100% + 15px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0,0,0,0.075), transparent);
  transform: skewX(45deg);
}

.box .content {
    position: relative;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.box .content .percent {
  position: relative;
  width: 150px;
  height: 150px;
}


.box .content .percent::before {
  content: attr(data-text);
  position: absolute;
  inset: 20px;
  background: #555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.box .content .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.box .content .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3;
  stroke: rgba(0,0,0,0.05);
  transform: translate(5px, 5px);
}

.box .content .percent svg circle:nth-child(2) {
    stroke: #555;
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
  }





@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box .content .percent .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.box .content .percent .dot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: #555;
  border-radius: 50%;
}

.box .content .number {
  position: relative;
  inset: 0;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

.box .content .number h2 {
  font-size: 2.5rem;
  color: #555;
}

.box .content .number h2 span {
  font-weight: 300;
  font-size: 1.5rem;
}


.certification-wrapper{
    padding: 100px 20px 100px 20px;
    
}

.c-url img{
    width: 40%;
} 

.c-text{
  margin-top: 50px;
  gap: 30px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding-left: 30px;
  padding-right: 30px;

}

.c-url{
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
}

.certification-wrapper h1{
    font-weight: normal;
}

.certification-wrapper h1, .certification-wrapper p {
  padding-left: 30px;
  padding-right: 30px;
}

.certification-wrapper p {
  font-size: 20px;
}

.c-url h3{
    font-size: 20px;
    color: black;
    font-weight: normal;
    text-align: center;
}

.c-url span{
    font-weight: bold;
}