@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;

    --secondary:#444f5a;
    --primary:#0d6efd;
    --light:#ffffff;
    --bs-secondary-rgb: 68, 79, 90;
    --icon_width:25px;
    scroll-behavior: smooth;
}





nav{
    width: 100vw;
    height: 100px;
    background-color: var(--light);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 3px 6px rgba(var(--bs-secondary-rgb),.2);
    position: relative;
}

nav h1{
    font-family: 'Oregano', cursive;
    font-size: 25px;
    color: #719ee1;
}

.nav-list{
    display: flex;
    gap: 10px;
}

.nav-list a{
    text-decoration: none;
    color: var(--secondary);
    font-size: 20px;
}
.root{
    padding: 0 30px 0 30px;
    display: grid;
}

.root-box{
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.material-symbols-outlined {

    border: solid var(--secondary) 2px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    color: var(--secondary);
}

.responsive-icon{
    display: none;
}


.material-symbols-outlined:hover {
    border: solid var(--primary) 2px;
    color: var(--primary);
}


.h-box1{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.h-text{
    width: 400px;
}

.h-box1 h3{
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}

.h-box1 h1{
    font-family: 'Finger Paint', sans-serif;
    font-size: 3.5rem;
    margin:0 0 0.8rem 0;
    line-height: 1;
    color: var(--secondary);
}

.h-box1 p{
    font-size: 1.5rem;
    font-family: 'Oregano', cursive;
    margin: 0;    
    color: var(--primary);
}


.h-box2 img{
    border-radius: 30% 70% 67% 33% / 30% 30% 70% 70% ;
    background-color: gray;
    width: 500px;
}

.h-icon-box{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.h-icon-box a svg{
    color: var(--secondary);
    width: 35;
    transition: 1s;
}

.h-icon-box a svg:hover{
    color: var(--primary);
    width: 35;
}

.about{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.a-box{
    width: 480px;
}

.a-box1{
    display: flex;
    align-items: center;
}

.a-box-text{
    width: 90%;
}

.a-box-text h1,.a-box-grid h1{
    text-align: center;
    font-family: Finger Paint,cursive;
    margin-bottom: 2rem;
    font-size: 3.2rem;
    color: var(--secondary);
}

.a-box-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.g-item{
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.g-item span{
    font-size: 16px;
}

.a-box-text p{
    font-size: 17px;
    font-family: Raleway,sans-serif;
    color: var(--secondary);
}


.project{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-container h1{
    text-align: center;
    font-family: Finger Paint,cursive;
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 3.2rem;
    color: var(--secondary);
}

.project-item{
    position: relative;
    width: 460px;
    box-shadow: 0 3px 6px #0003;
    border-radius: 10px;
    transition: 0.5s;
}

.project-item:hover{
    box-shadow:0 3px 6px #776161;
}

.box-tools{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    border-radius: 10px;
    z-index: 5;
    color: #444f5a;
    transition: 0.5s;
}



.project-item img{
    width: 100%;
    border-radius: 10px;
}

.project-box{
    width: 80%;
    gap: 25px 30px;
    display: flex;
    flex-wrap: wrap;
    
}


.project-git{
    font-size: 25px;
    text-decoration: none;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #0564bd;
    padding: 10px 20px;
    border: solid #0564bd 1px;
    border-radius: 10px;
    transition: 0.4s;
}

.project-git:hover{
    color: #fff;
    background-color: #0564bd;
}


.contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-wrapper-text {
    text-align: center;
    font-family: Finger Paint,cursive;
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 3.2rem;
    color: var(--secondary);
}

.main-form-wrapper{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-wrapper{
    width: 30%;
    height: 100%;
    margin-bottom: 50px;
}

.text-box h1{
    font-family: Raleway,sans-serif;
    color: var(--secondary);
    margin: 0;
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
}

.text-box p{
    font-family: Raleway,sans-serif;
    margin-top: 0;
    font-size: 20px;
    color: var(--secondary);
}

.text-box span{
    display: flex;
    gap: 5px;
    font-size: 20px;
    align-items: center;
    color: var(--primary);
}

.form-wrapper{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

form span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name, #email{
    width: 48%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ced4da;
    border-radius: .375rem;
}

form input{
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ced4da;
    border-radius: .375rem;
}

form textarea{
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ced4da;
    border-radius: .375rem;
}

.a-box-text h1{
    margin-top: 0;
}

.btn{
    align-self: flex-end;
    width: 150px;
    color: #fff;
    background-color: #0564bd;
    border: solid #0564bd 2px;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover{
    background-color: #fff;
    color: #0564bd;
}


footer{
    width: 100vw;
    padding: 30px 0 30px 0;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

footer p{
    color: #fff;
    font-family: Raleway,sans-serif;
    font-size: 20px;
    font-style: italic;
}

.footer-icon{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.footer-icon a svg{
    
    width: 25px;
    fill: #fff;
}

.nav-list-responsive{
    position: absolute;
    top: 100px;
    left: -300px;
    width: 300px;
    height: 100vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.6s; 
    z-index: 3;  
}


.xxx{
    position: absolute;
    top: 105px;
    left: 0;
    width: 300px;
    height: 100vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.6s;  
    z-index: 3;  
}

.xxx a{
    text-decoration: none;
    width: 100%;
    padding: 10px 0 10px 0;
    font-size: 20px;
    color: var(--secondary);
    transition: 0.4s;
}

.nav-list-responsive a{
    text-decoration: none;
    width: 100%;
    padding: 10px 0 10px 0;
    font-size: 20px;
    color: var(--secondary);
    transition: 0.4s;
}

.nav-list-responsive a span{
    padding-left: 20px;
}
.xxx a span{
    padding-left: 20px;
}

.nav-list-responsive a:hover{
    color: #fff;
    background-color: var(--primary);
}

.xxx a:hover{
    color: #fff;
    background-color: var(--primary);
}


.dResume{
    margin-bottom: 10px;
    text-decoration: none;
    font-family: 'Oregano', cursive;
    font-size: 20px;
    margin-bottom: 10px;
}






.img{
    border: #444f5a;
    animation: fade-in linear;
    animation-timeline: scroll();
    animation-range-start: 100px;
    animation-range-end: 700px;
}

@keyframes fade-in{
    form {opacity: 0;}
    to {opacity: 1;}
}




@media screen and (min-width:1200px) {
    .a-box{
        width: 520px;
    }
}




@media screen and (max-width:1190px) {
    .project-item{
        
        width: 320px;
    }
}






@media screen and (max-width:1070px) {
    .h-box2 img{
        width: 400px;
    }




}





@media screen and (max-width:860px) {
    .h-box1{
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .project-box{
        width: 80%;
        gap: 25px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-container{
        width: 100%;
    }



    .h-box2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .h-text {
        width: 100%px;
        /* text-align: center; */
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .h-box2 img{
        margin-top: 50px;
        width: 60%;
    }
}


@media screen and (max-width:660px) {
    nav h1 {
        font-size: 25px;
        
    }

    .project-box{
        width: 100%;
    }
}


@media screen and (max-width:582px) {

    .responsive-icon{
        display: block;
    }


    .main-form-wrapper{
        flex-direction: column;
    }


    .nav-list{
        display: none;
    }

    .text-wrapper, .form-wrapper {
        width: 90%;
        
    }

    .grid-items {
        width: 100vw;
    }

    .a-box-grid{
        width: 100vw;
    }

    .a-box{
        width: 100%;
    
    }

    .a-box-text{
        padding-left: 10px;
    }

    .h-text {
        width: 100vw;
        
    }

    .h-box2 img {
        width: 70%;
        margin-right: 53px;
    }

    .h-box1 h3 {
        margin: 0 17px 1rem 0;
    }

    .h-box1 h1 {
        margin: 0 36px 0.8rem 0;
       
    }

    .h-icon-box {
        padding-right: 40px;
    }


}